div(flex="100"  layout="column" layout-align="start none")
	div.home_banner(flex="30" layout="row" layout-align="center center")
		div.inner(flex="none")
		div.text(flex="100" layout="row" layout-align="center center")
			form(ng-submit="saveEntry()" flex="100" layout="row" layout-wrap layout-align="center center")
				div.mic(flex="90" flex-gt-xs="20" layout="row" layout-align="center center")
					md-select(ng-model="newEntry.sport" flex="80")
						md-option(ng-repeat="o in sports" ng-value="o") {{o | uppercase}}
				div.mic(flex="90" flex-gt-xs="60" layout="row" layout-align="center center")
					md-input-container(flex="100" flex-gt-sm="80")
						label Score Text
						input(type="text" ng-model="newEntry.text")
				div(flex="100" flex-gt-xs="20" layout="row" layout-align="center center")
					md-button(ng-submit="saveEntry()" style="width:100%") Save
	div.home_dash(flex layout="row" layout-align="center start" layout-wrap)
		md-list(flex="100" flex-sm="90" flex-md="85" flex-gt-md="80" layout="row" layout-wrap)
			md-list-item( flex="100" layout="row" )
				div(flex="100"  layout="row" layout-align="center center" )
					h1(flex="none") Nothing submitted yet!
			md-list-item(ng-repeat="e in entries" flex="100" layout="row" layout-wrap)
				div(flex="100"  layout="row" layout-wrap layout-align="center start" )
					p(flex="none") {{e.sport | uppercase}}
				div(flex="100"  layout="row" layout-wrap layout-align="center start" ng-show="e.sport == 'football'")
					
	
					div(flex="30" layout="row" layout-align="center center")
						h3(flex="none") {{e.teamAName}}
					div(flex="15" layout="row" layout-align="center center")
						h2(flex="none") {{e.teamAScore}}
					div(flex="5" layout="row" layout-align="center center")
						h1(flex="none") -
					div(flex="15" layout="row" layout-align="center center")
						h2(flex="none") {{e.teamBScore}}
					
					div(flex="30" layout="row" layout-align="center center")
						h3(flex="none")  {{e.teamBName}}
				div(flex="100"  layout="row" layout-wrap layout-align="center start" ng-show="e.sport == 'nfl'")
					div(flex="100"  layout="row" layout-wrap layout-align="center start" )
						div(flex="25" layout="row" layout-align="center center")
							h3(flex="none") {{e.teamAName}}
						div(flex="15" layout="row" layout-align="center center")
							h2(flex="none") {{e.teamAScore}}
						div(flex="5" layout="row" layout-align="center center")
							h1(flex="none") -
						div(flex="15" layout="row" layout-align="center center")
							h2(flex="none") {{e.teamBScore}}
						div(flex="25" layout="row" layout-align="center center")
							h3(flex="none")  {{e.teamBName}}
					div(flex="100"  layout="row" layout-wrap layout-align="center start" )
						h3(flex="none") {{e.currentPeriod}}
				div(flex="100"  layout="row" layout-wrap layout-align="center start" ng-show="e.sport == 'tennis'")
					div(flex="100"  layout="row" layout-wrap layout-align="center start" )
						div(flex="30" layout="row" layout-align="center center")
							h3(flex="none") {{e.teamAName}}
						div(flex="15" layout="row" layout-align="center center")
							h2(flex="none") {{e.teamAScore}}
						div(flex="10" layout="row" layout-align="center center")
							h1(flex="none") -
						div(flex="15" layout="row" layout-align="center center")
							h2(flex="none") {{e.teamBScore}}
									
						div(flex="30" layout="row" layout-align="center center")
							h3(flex="none")  {{e.teamBName}}
							
					
					div(flex="100"  layout="row" layout-wrap layout-align="center start" )
						md-list(flex="100")
							md-list-item(layout="row")
								div(flex="100" layout="row" layout-wrap layout-align="center start" )
									div(flex="40" layout="row" layout-align="center center")
										h4(flex="none") {{e.teamAGames}}
									div(flex="20" layout="row" layout-align="center center")
										h3(flex="none") {{'games' | translate}}
									div(flex="40" layout="row" layout-align="center center")
										h4(flex="none") {{e.teamBGames}}
							md-list-item(layout="row" ng-repeat="el in e.scoreboard.elements")
								div(flex="100" layout="row" layout-wrap layout-align="center start" )
									div(flex="40" layout="row" layout-align="center center")
										h4(flex="none") {{el.teamAScore}}
									div(flex="20" layout="row" layout-align="center center")
										h3(flex="none") {{el.title}}
									div(flex="40" layout="row" layout-align="center center")
										h4(flex="none") {{el.teamBScore}}
		div(flex="100" layout="row" layout-align="center center" ng-if="entries.length")
			md-card( style="" flex="100" flex-gt-sm="80")
				json-formatter(json="entries" open="3")
