div(flex="100" layout="row")
	//- .video-background(hide-xs hide-sm)
	//- 	.video-foreground
	//- 		iframe(ng-if="ytUrl" ng-src='{{ytUrl}}', frameborder='0', allowfullscreen='')
	div.gb(flex="100" layout="row" layout-wrap)
		div.gif_banner(ng-repeat="g in gifs"  ng-show="$index == gIndex" ng-style="{'background-image': 'url(' + gifs[gIndex] + ')'}" flex="none" )
		div.gif_olay(layout="column" flex="none" layout-align="center center") 
			div(layout="column" flex="80" layout-align="center center")
				h1(flex="none") Sportium
				md-button(ui-sref="app.home")
					h2.white Click to Begin
