div.row.justify-content-center(ng-controller="SearchCtrl as sc")
	div.col-12.col-lg-8()
		form(name='searchForm', ng-submit='sc.search(searchForm.$valid)', novalidate='')
			.form-group
				label Tags
				input.form-control(type='text', name='tags', ng-model='sc.searchTags', required='true')
			// USERNAME
			.form-group
				label Username
				input.form-control(type='text', name='username', ng-model='sc.userId', ng-minlength='3', ng-maxlength='24')
			
			button.btn.btn-primary(type='cancel' ng-click="searchForm.$empty()") Cancel
			button.btn.btn-primary(type='submit' ng-disabled="searchForm.$invalid") Submit
	div.col-12.col-lg-8.row.d-flex.d-justify-content-around()
		div.col-12.row
			button.btn-clear(ng-click="setOrder('dateupload')") Uploaded
			button.btn-clear(ng-click="setOrder('datetaken')") Taken
			button.btn-clear(ng-click="setOrder('views')") Views
			button.btn-clear(ng-click="setOrder('ownername')") Username
		.media(ng-repeat="ps in sc.searches | orderBy: searchOrder" ui-sref="app.results({tags: ps.search.tags, userId: ps.search.userId})")
			img.d-flex.mr-3(ng-src='{{ps.data.url_q}}', alt='Generic placeholder image')
			.media-body
				div.d-flex.row()
					p.col-6 {{ps.data.title}}
					p.col-6 {{ps.data.datetaken | dFormat: 'lll'}}
					p.col-6 {{ps.data.dateupload | unix: 'lll'}}
					p.col-6 {{ps.data.ownername}}
					p.col-6 {{ps.data.views}}
