div.row(ng-controller="SearchCtrl as sc")
	div.col-12.col-lg-8.align-center()
		form(name='searchForm', ng-submit='sc.search(searchForm.$valid)', novalidate='')
			.form-group
				label Tags
				input.form-control(type='text', name='tags', ng-model='sc.searchTags', required='true')
			// USERNAME
			.form-group
				label Username
				input.form-control(type='text', name='username', ng-model='sc.userId', ng-minlength='3', ng-maxlength='24')
			
			button.btn.btn-primary(type='cancel') Cancel
			button.btn.btn-primary(type='submit' ng-disabled="searchForm.$invalid") Submit
	div.col-12.col-lg-8.row.d-flex.d-justify-content-around()
		//- div.d-flex.sc-result.d-flex.flex-nowrap(ng-repeat="ps in sc.searches track by $index" ui-sref="app.results({tags: ps.search.tags, userId: ps.search.userId})")
		//- 	img.img-responsive(ng-src="{{ps.data.url_q}}")
		//- 	div.d-flex.row()
		//- 		p.col-6 {{ps.data.title}}
		//- 		p.col-6 {{ps.data.datetaken | dFormat: 'lll'}}
		//- 		p.col-6 {{ps.data.dateupload | unix: 'lll'}}
		//- 		p.col-6 {{ps.data.ownername}}
		.media(ng-repeat="ps in sc.searches track by $index" ui-sref="app.results({tags: ps.search.tags, userId: ps.search.userId})")
			img.d-flex.mr-3(ng-src='{{ps.data.url_q}}', alt='Generic placeholder image')
			.media-body
				div.d-flex.row()
					p.col-6 {{ps.data.title}}
					p.col-6 {{ps.data.datetaken | dFormat: 'lll'}}
					p.col-6 {{ps.data.dateupload | unix: 'lll'}}
					p.col-6 {{ps.data.ownername}}
