// @font-face {

@import url("https://fonts.googleapis.com/css?family=Satisfy|Roboto|Josefin+Sans");

// }

h1, h2, h3, h4, h5{
  font-family: 'Josefin Sans', sans-serif;
}
.satisfy{
  font-family: 'Satisfy', cursive;
}
.titlebg{
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(1,12,13,0.85);
  -webkit-filter: blur(1px);
 -moz-filter: blur(1px);
 -o-filter: blur(1px);
 -ms-filter: blur(1px);
 z-index: 60;
}
.no_m{
  margin: 1px;
}
.white{
  color: whitesmoke;
}
.home_dash{
  width: 100%;
  padding: 2%;
  // height: 300px;
  .option{
    md-card{
      min-height: 250px;
      .title{
        height: 125px;
        background: rgba(182,12,13,0.85);
        color: white;
        h1{
          font-size: 60px;
        }
      }
      .text{
        height: 125px;
      }
    }

  }
}
.mic{
	md-input-container label,
	md-input-container input,
	 md-input-container,
   md-select label,
   md-select, md-select .md-select-value.md-select-placeholder{
	 	#inner-editor{
	 		color: white !important;
	 	}
	 	.ng-not-empty{
	 		color: white !important;
	 	}
	 	.ng-touched{
	 		color: white !important;
	 	};
	    color: white !important;
	}
}
.s_red{
    background: rgba(182,12,13,0.85);
}
.home_banner{
  height:35%;
  // padding-top: 55px;
  @media screen and (max-width:600px){
    height: 250px;
  }
  @media (min-width:600px) and (max-width:1024px){
    height: 350px;
  }
  @media (min-width:1024px) and (max-width:2048px){
    height: 450px;
  }
  @media (min-width:2048px) and (max-width:4196px){
    height: 650px;
  }
  width: 100%;
  position: relative;
  .inner{
    position: absolute;
    z-index:40;
    width:100%;
    height:100%;
    background: rgba(182,12,13,0.85);
  }
  .text{
    z-index:60;
    width:100%;
    height:100%;
    color:white;
    @media screen and (max-width:600px){
      margin-top:50px;
    }
  }
}
.ntitle{
  width:100%;
  height: 40px;
  position: relative;
  color: white;

  .center {
    z-index:80;
    img{
      width: auto;
      height: 36px;
      padding: 2px;
    }
    h3{
      font-size: 26px;
      padding: 2px;
      font-family: 'Satisfy', cursive;
    }
  }
  .menu{
    z-index:80;
    width: 40px;
    height: 40px;
    i{
      font-size: 32px
    }
  }
}
.nmain{
  width: 100%;
  background-color: #f5f5f5;
  .body{
    width: 100%;

  }
  .nav_steps{
    width: 100%;
    height: 50px;
    background: transparent;
    color: whitesmoke;
    position: absolute;
    top: 40px;
    z-index:100;
  }
}
.mc{
  height:-webkit-max-content;
  height:-moz-max-content;
  height:max-content;
}

.center{
  text-align: center;
}

.scroll{
  overflow-y: scroll;
  overflow-x: none;
}

.main{
  height: calc(100% - 40px);
  // top: 40px;
  width: 100%;
  right: 0;
  left: 0;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;

}
.h100{
  height: 100%;
}
.responsive{
  width:100%;
  height: auto;
}

.cyan{
  color: cyan;
}

@keyframes enter_right {
  0% { opacity: 0; right: -100%; }
  100% { opacity: 1; right: 0;}
}
@keyframes exit_right {
  0% { opacity: 1; right: 0;}
  100% { opacity: 0; right: -100%; }
}
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  // z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
.gb{
  height: calc(100% - 40px);
  height: calc(100vh - 40px);
  width: 100%;
  position: relative;
  .gif_banner{
    height: 100%;

    width: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: 2s;
    transition: 2s;
    z-index:100;
  }
  .gif_olay{
    height:100%;
    height: 100%;

    width: 100%;
    z-index:150;
    background: rgba(11,13,14,0.3);
    position: absolute;
    h1{
      font-family: 'Satisfy', cursive;
      color: white;
    }
    .logo{
      height: 125px;
      width: 125px;
    }
  }
}
